#tool_code:hover{
    border: 1px solid #e7e7eb;
    margin: 0 5px;
}
#tool_code{
    width: 20px;
	height: 20px;
	background: url(https://cdn.sxisa.com/code.png) no-repeat center center;
	background-size: 15px auto;
	opacity: .6;
    margin: 1px 6px;
}
#code_dlg{
    margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	background: #FFF;
	padding: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px #999;
    height: 80%;
    width: 80%;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
#code_dlg input, #code_dlg textarea, #code_dlg button{
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
#code_dlg textarea{
    color: #FFF;
    width: calc(100% - 20px);
    position: absolute;
    left: 0;
    top: 35px;
    bottom: -20px;
    margin: 10px 0;
    border: none;
    background-color: #313131;
    padding: 10px;
}
#code_dlg #lang{
    width: 80px;
}
#code_dlg input{
    width: 50px;
    border: 0;
    border-bottom: 1px solid #131313;
    text-align: center;
    appearance: none;
}

#code_dlg label{
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
}
#code_dlg input[type='number'] {
    -moz-appearance:textfield;
}
#code_dlg input[type=number]::-webkit-inner-spin-button,
#code_dlg input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#code_dlg #preview{
    border: 0;
    margin: 0 5px;
    padding: 2px 5px;
    color: #FFF;
    background-color: #313131;
    width: auto;
    cursor: pointer;
}
#code_bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(200,200,200,.5);
    top: 0;
    left: 0;
    z-index: 100;
}
#code_close{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 3em;
}
